---
import { getCollection } from "astro:content";

const guide = await getCollection("guide");
---

  <div>
    {
      guide.map((step) => {
        const { data } = step
        const { title, description, url, method, example, img } = data
  
        return (
          <article>
                <h4 class="main__subtitle">{title}</h4>
                <p>URL: <code>{url}</code></p>
                <p>Método: <code>{method}</code></p>
                Descripción:
              <p class="description__text">
                {description}
              </p>
              <p class="main__solicitud">Ejemplo de Solicitud:</p>
              <p class="main__code">
                <code>{example}</code>
              </p>
              <p class="main__respuesta">Ejemplo de Respuesta:</p>
              <div class="main__container-img" data-aos="fade-bottom">
                <img
                  src={img}
                  alt={title}
                  class="main__img"
                />
              </div>
          </article>
        )
      })
    }
  </div>

