---
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="./imgs/Agentina.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta
      name="description"
      content="Página creada para una API de provincias, departamentos y localidades Argentinas"
    />
    <meta
      name="keywords"
      content="Argentina,provincias,departamentos,localidades,API"
    />
    <meta name="robots" content="index, follow" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="author" content="Nicolás Alejandro Tapié" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script type="module" src="./carousel.js" defer></script>

    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./styles.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Localidades Argentinas API</title>
	</head>
	<body>
		<div class="layout">
			<header class="header">
			  <div class="header__container-creator">
				<img
				  class="creator__img"
				  src="./imgs/Logo-Nico.webp"
				  alt="Logo Nicolás Tapié"
				  title="Nicolás Tapié"
				/>
				<div class="creator__container-description" title="Nicolás Tapié">
				  <span class="creator__item creator__name">Nicolás Tapié</span>
				  <span class="creator__item creator__desc">Programador web</span>
				</div>
			  </div>
	  
			  <div class="header__container-nav">
				<nav class="header__nav">
				  <div class="nav__link-container nav__link-container-1">
					<a class="nav__link" href="#main" title="Guía">Guide</a>
				  </div>
				  <div class="nav__link-container">
					<a
					  class="nav__link"
					  href="https://github.com/nicotapie30/Localidades"
					  target="_blank"
					  title="Repositorio Localidades"
					  ><i class="fa-brands fa-github"></i
					></a>
				  </div>
				</nav>
			  </div>
			</header>
	  
			<section class="section__titles">
			  <h1 class="titles__title">Localidades Argentinas</h1>
			  <h2 class="titles__subtitle">
				Bienvenido a la API de Localidades de Argentina. Esta te permite
				acceder a información sobre provincias, departamentos y localidades
				del país. A continuación, te mostramos cómo puedes empezar a
				utilizarla. Los endpoints disponibles y cómo manejar posibles errores.
			  </h2>
			</section>
	  
			<my-carousel></my-carousel>
	  
			<i class="fa-solid fa-arrow-down"></i>
	  
			<section class="section__main">
			  <main class="main__main" id="main">
				<h2 class="main__title">Guía para Utulizar la API</h2>
	  
				<h3 class="main__endpoints">Endpoints Disponibles</h3>
	  
				<div class="main__container-containers">
				  <article class="main__container container-0" data-aos="fade-right">
					<h4 class="main__subtitle">Obtener Todas las Provincias</h4>
					<ul class="main__ul-items">
					  <li class="main__li-items">
						URL: <code>/api/provincias</code>
					  </li>
					  <li class="main__li-items">Método: <code>GET</code></li>
					  <li class="main__li-items">
						Descripción:
						<p class="description__text">
						  Devuelve una lista de todas las Provincias
						</p>
					  </li>
					</ul>
					<p class="main__solicitud">Ejemplo de Solicitud:</p>
					<p class="main__code">
					  <code
						>https://localidades-argentinas-data.vercel.app/api/provincias</code
					  >
					</p>
					<p class="main__respuesta">Ejemplo de Respuesta:</p>
					<div class="main__container-img" data-aos="fade-bottom">
					  <img
						loading="lazy"
						src="./imgs/todas-las-provincias.png"
						alt="Todas las Provincias"
						class="main__img"
					  />
					</div>
				  </article>
	  
				  <article class="main__container container-1" data-aos="fade-left">
					<h4 class="main__subtitle">Obtener una Provincia específica</h4>
					<ul class="main__ul-items">
					  <li class="main__li-items">
						URL: <code>/api/{provincia}</code>
					  </li>
					  <li class="main__li-items">Método: <code>GET</code></li>
					  <li class="main__li-items">
						Descripción:
						<p class="description__text">
						  Devuelve una Provincia específica
						</p>
					  </li>
					</ul>
					<p class="main__solicitud">Ejemplo de Solicitud:</p>
					<p class="main__code">
					  <code
						>https://localidades-argentinas-data.vercel.app/api/buenos_aires</code
					  >
					</p>
					<p class="main__respuesta">Ejemplo de Respuesta:</p>
					<div class="main__container-img" data-aos="fade-bottom">
					  <img
						loading="lazy"
						src="./imgs/provincia-especifica.png"
						alt="Provincia Específica"
						class="main__img"
					  />
					</div>
				  </article>
	  
				  <article class="main__container container-2" data-aos="fade-right">
					<h4 class="main__subtitle">
					  Obtener Departamentos de una Provincia
					</h4>
					<ul class="main__ul-items">
					  <li class="main__li-items">
						URL: <code>/api/{provincia}/departamentos</code>
					  </li>
					  <li class="main__li-items">Método: <code>GET</code></li>
					  <li class="main__li-items">
						Descripción:
						<p class="description__text">
						  Devuelve una lista de todos los departamentos de una
						  provincia específica
						</p>
					  </li>
					</ul>
					<p class="main__solicitud">Ejemplo de Solicitud:</p>
					<p class="main__code">
					  <code
						>https://localidades-argentinas-data.vercel.app/api/buenos_aires/departamentos</code
					  >
					</p>
					<p class="main__respuesta">Ejemplo de Respuesta:</p>
					<div class="main__container-img" data-aos="fade-bottom">
					  <img
						loading="lazy"
						src="./imgs/departamentos-de-una-provincia.png"
						alt=""
						class="main__img"
					  />
					</div>
				  </article>
	  
				  <article class="main__container container-3" data-aos="fade-left">
					<h4 class="main__subtitle">
					  Obtener Localidades de un Departamento
					</h4>
					<ul class="main__ul-items">
					  <li class="main__li-items">
						URL:
						<code
						  >/api/{provincia}/departamentos/{departamento}/localidades</code
						>
					  </li>
					  <li class="main__li-items">Método: <code>GET</code></li>
					  <li class="main__li-items">
						Descripción:
						<p class="description__text">
						  Devuelve una lista de todas las localidades de un
						  departamento específico
						</p>
					  </li>
					</ul>
					<p class="main__solicitud">Ejemplo de Solicitud:</p>
					<p class="main__code">
					  <code
						>https://localidades-argentinas-data.vercel.app/api/buenos_aires/departamentos/Alberti/localidades</code
					  >
					</p>
					<p class="main__respuesta">Ejemplo de Respuesta:</p>
					<div class="main__container-img" data-aos="fade-bottom">
					  <img
						loading="lazy"
						src="./imgs/localidades-de-un-departamento.png"
						alt="Localidades de un Departamento"
						class="main__img"
					  />
					</div>
				  </article>
	  
				  <article class="main__container container-4" data-aos="fade-right">
					<h4 class="main__subtitle">
					  Obtener Información de una Localidad Específica
					</h4>
					<ul class="main__ul-items">
					  <li class="main__li-items">
						URL:
						<code
						  >/api/{provincia}/departamentos/{departamento}/localidades/{localidad}</code
						>
					  </li>
					  <li class="main__li-items">Método: <code>GET</code></li>
					  <li class="main__li-items">
						Descripción:
						<p class="description__text">
						  Devuelve información detallada de una localidad específica
						</p>
					  </li>
					</ul>
					<p class="main__solicitud">Ejemplo de Solicitud:</p>
					<p class="main__code">
					  <code
						>https://localidades-argentinas-data.vercel.app/api/buenos_aires/departamentos/Alberti/localidades/Villa_Ortíz</code
					  >
					</p>
					<p class="main__respuesta">Ejemplo de Respuesta:</p>
					<div class="main__container-img" data-aos="fade-bottom">
					  <img
						loading="lazy"
						src="./imgs/localidad-específica.png"
						alt="Localidad Específica"
						class="main__img"
					  />
					</div>
				  </article>
	  
				  <article class="main__container container-5" data-aos="fade-bottom">
					<h4 class="main__subtitle">Posibles errores</h4>
					<h5 class="title__error">404 Not found:</h5>
					<ul>
					  <li class="list__error">
						<strong>Causa:</strong> El recurso solicitado no existe
					  </li>
					  <li class="list__error">
						<strong>Solución:</strong> Verifica que la URL y los
						parámetros sean correctos
					  </li>
					</ul>
					<h5 class="title__error">500 Internal Server Error:</h5>
					<ul>
					  <li class="list__error">
						<strong>Causa:</strong> Ocurrió un error en el servidor
					  </li>
					  <li class="list__error">
						<strong>Solución:</strong>
						Intenta nuevamente más tarde
					  </li>
					</ul>
					<h5 class="title__error">400 Bad Request:</h5>
					<ul>
					  <li class="list__error">
						<strong>Causa:</strong> La solicitud es inválida
					  </li>
					  <li class="list__error">
						<strong>Solución:</strong>
						Revisa la documentación de la API, para asegurarte de que
						estás enviando los parámetros correctos
					  </li>
					</ul>
				  </article>
				</div>
			  </main>
			</section>
	  
			<footer class="footer__footer">
			  <div class="footer__containers">
				<div class="container__info">
				  <div class="footer__container-creator">
					<img
					  class="footer__creator-img"
					  src="./imgs/Logo-Nico.webp"
					  alt="Logo Nicolás Tapié"
					  title="Nicolás Tapié"
					/>
					<div
					  class="footer__creator-container-description"
					  title="Nicolás Tapié"
					>
					  <span class="footer__creator-item creator__name"
						>Nicolás Tapié</span
					  >
					  <span class="footer__creator-item footer__creator-desc"
						>Programador web</span
					  >
					</div>
				  </div>
	  
				  <div class="container__links">
					<p class="links__text">
					  Los datos utilizados han sido extraídos de
					</p>
					<div class="links__container">
					  <a
						class="info__text info__link"
						href="https://es.wikipedia.org/wiki/Wikipedia:Portada"
						target="_blank"
						>Wikipedia</a
					  >
	  
					  <a
						class="info__text info__link"
						href="https://www.citypopulation.de/"
						target="_blank"
						>City Population</a
					  >
					</div>
				  </div>
				</div>
	  
				<div class="container__brands">
				  <div class="brand__container-contact contact-1">
					<span class="brand__link brand__link-subtitle">Contacto</span>
					<span class="brand__link brand__link-mail"
					  ><a href="mailto:nicoatapie@gmail.com" class="contact__link"
						>nicoatapie@gmail.com</a
					  ></span
					>
				  </div>
	  
				  <div class="brand__container-contact contact-2">
					<a
					  href="https://www.instagram.com/nicotapie1/"
					  class="brand__link"
					  target="_blank"
					  title="instagram"
					  ><i class="fa-brands fa-instagram"></i
					></a>
					<a
					  href="https://www.linkedin.com/in/nicolasatapiedev30/"
					  class="brand__link"
					  target="_blank"
					  title="linkedin"
					  ><i class="fa-brands fa-linkedin"></i
					></a>
					<a
					  href="https://github.com/nicotapie30"
					  class="brand__link"
					  target="_blank"
					  title="github"
					  ><i class="fa-brands fa-github"></i
					></a>
				  </div>
				</div>
			  </div>
	  
			  <div class="footer__containers footer__containers-derechos">
				<p class="footer__legalterms">
				  &copy; Realizado por
				  <a
					href="https://www.linkedin.com/in/nicolasatapiedev30/"
					class="contact__link contact__link-name"
					target="_blank"
					>Nicolás Alejandro Tapié</a
				  >
				  - 2024
				</p>
			  </div>
			</footer>
		  </div>
	  
		  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		  <script>
			AOS.init();
		  </script>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
